*{
    margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
    background-color: brown;
    color: white;
    padding: 10px;
    
}
select , button{
    font: 100 1.2rem sans-serif;
    margin: 30px;
    outline: none;
    background-color: rgb(230, 221, 221);
    color: rgb(15, 15, 15);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;


}

button{
    background-color: rgb(178, 178, 227);
}

body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark background for better contrast */
    color: #fff; /* White text for readability */
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  #zodiac-sign {
    font-size: 3em; /* Adjust as needed */
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Dusky background */
    display: inline-block;
  }
  #positivity-message {
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Dusky background */
    display: inline-block;
  }